body {
    padding: 0px;
    margin: 0px;
    width: 0px;
    height: 0px;
    background-color: #4682B4;
}

main {
    text-align: center;
    width: 283px;
    margin: 190px 11px 70px 601px;
    background-color: #fff;
    padding: 46px;
    border-radius: 59px;
}

label {
    color: #395559;
    position: relative;
    text-align: justify;
}

button {
    padding: 6px 72px;
    background-color: #4CAF50;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px -60px -3px -66px;

}